<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_Shift.Properties.Settings.AD_PracticeConnectionString"
            connectionString="Data Source=DESKTOP-N7LQHOM;Initial Catalog=&quot;AD Practice&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="E_Shift.Properties.Settings.E_ShiftConnectionString"
            connectionString="Data Source=DESKTOP-N7LQHOM;Initial Catalog=E-Shift;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>